.pc/
po/
patches
series 
settings.mk 
m4/
include.mk 
extension.mk 
configure
configure.ac 
aclocal.m4 
Makefile.am 
Makefile.in 
ABOUT-NLS 
COPYING 
NEWS 
README 
*.config
*.creator
*.files
*.includes
*.creator.user
build/
